<%= form_with(model: word_library) do |form| %>
  <% if word_library.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(word_library.errors.count, "error") %> prohibited this word_library from being saved:</h2>

      <ul>
        <% word_library.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.text_field :word %>
    <%= form.submit %>
  </div>
<% end %>
